.App {
  text-align: center;
}

#container-components{
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 100%;
  grid-template-areas: "chart alarm";
}

#chart{
  grid-area: "chart";
}

#alarm{
  grid-area: "alarm";
}